<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %><br />
    <%= f.text_field :nr %>
  </div>
  <div class="field">
    <%= f.label :departure_datetime %><br />
    <%= f.datetime_select :departure_datetime %>
  </div>
  <div class="field">
    <%= f.label :arrival_datetime %><br />
    <%= f.datetime_select :arrival_datetime %>
  </div>
  <div class="field">
    <%= f.label :departure_airport_id %><br />
    <%= f.text_field :departure_airport_id %>
  </div>
  <div class="field">
    <%= f.label :arrival_airport_id %><br />
    <%= f.text_field :arrival_airport_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
